.header {
  width: 343px;
  height: 21px;
  left: 23px;
  top: 64px;
  position: absolute;
}
#backicon {
  width: 9.5px;
  height: 19px;
  left: 0px;
  top: 1px;
  position: absolute;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
#overicon {
  width: 65px;
  left: 283px;
  top: 0px;
  position: absolute;
  text-align: right;
  color: #969595;
  font-size: 15px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 20.7px;
  word-wrap: break-word;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.title {
  width: 341px;
  height: 83px;
  left: 24px;
  top: 104px;
  position: absolute;
}
.one {
  left: 160px;
  top: 0px;
  position: absolute;
  text-align: center;
}
#oneone {
  color: #2c2c2c;
  font-size: 15px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 20.7px;
  word-wrap: break-word;
}
#onetwo {
  color: #969595;
  font-size: 15px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 20.7px;
  word-wrap: break-word;
}
.three_ga {
  width: 341px;
  left: 0px;
  top: 30px;
  position: absolute;
  text-align: center;
  color: #3d3d3d;
  font-size: 22px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 30.36px;
  word-wrap: break-word;
}
.con {
  left: 103px;
  top: 62px;
  position: absolute;
  text-align: center;
  color: #969595;
  font-size: 15px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 20.7px;
  word-wrap: break-word;
}

.gwansim {
  width: 341px;
  left: 24px;
  top: 232px;
  position: absolute;
  text-align: center;
  color: #3d3d3d;
  font-size: 22px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 30.36px;
  word-wrap: break-word;
}
.관심분야아래 {
  width: 308px;
  height: 186px;
  left: 45px;
  top: 278px;
  position: absolute;
}

.관심분야아래버튼 {
  width: 94px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #eeeeee;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}
.관심분야아래폰트 {
  width: 44px;
  left: 25px;
  top: 7px;
  position: absolute;
  text-align: center;
  color: #646464;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 22.08px;
  word-wrap: break-word;
}
.정치 {
  width: 94px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.경제 {
  width: 94px;
  height: 36px;
  left: 107px;
  top: 0px;
  position: absolute;
}
.환경 {
  width: 94px;
  height: 36px;
  left: 214px;
  top: 0px;
  position: absolute;
}
.인권 {
  width: 94px;
  height: 36px;
  left: 0px;
  top: 50px;
  position: absolute;
}
.사회 {
  width: 94px;
  height: 36px;
  left: 107px;
  top: 50px;
  position: absolute;
}
.연예 {
  width: 94px;
  height: 36px;
  left: 214px;
  top: 50px;
  position: absolute;
}
.연애 {
  width: 94px;
  height: 36px;
  left: 0px;
  top: 100px;
  position: absolute;
}
.교육 {
  width: 94px;
  height: 36px;
  left: 107px;
  top: 100px;
  position: absolute;
}
.예술 {
  width: 94px;
  height: 36px;
  left: 214px;
  top: 100px;
  position: absolute;
}
.과학 {
  width: 94px;
  height: 36px;
  left: 0px;
  top: 150px;
  position: absolute;
}
.종교 {
  width: 94px;
  height: 36px;
  left: 107px;
  top: 150px;
  position: absolute;
}
.여행 {
  width: 94px;
  height: 36px;
  left: 214px;
  top: 150px;
  position: absolute;
}
.관심소셜 {
  width: 341px;
  left: 24px;
  top: 500px;
  position: absolute;
  text-align: center;
  color: #3d3d3d;
  font-size: 22px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 30.36px;
  word-wrap: break-word;
}
.관심소셜아래 {
  width: 308px;
  height: 137px;
  left: 45px;
  top: 546px;
  position: absolute;
}
.관심소셜아래버튼 {
  position: absolute;
  background: #eeeeee;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}
.관심소셜아래폰트 {
  position: absolute;
  text-align: center;
  color: #646464;
  font-size: 15px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 20.7px;
  word-wrap: break-word;
}
.선택완료범위 {
  width: 328px;
  height: 62px;
  left: 31px;
  top: 723px;
  position: absolute;
}
.선택완료버튼 {
  width: 328px;
  height: 62px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #6badd5;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}
.선택완료폰트 {
  left: 132px;
  top: 18px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 19px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 26.22px;
  word-wrap: break-word;
}
.sns범위 {
  width: 300px;
  height: 206px;
  left: 44px;
  top: 232px;
  position: absolute;
}

.sns버튼 {
  width: 143px;
  height: 98px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #eeeeee;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}
.sns폰트 {
  top: 60px;
  position: absolute;
  text-align: center;
  color: #3d3d3d;
  font-size: 13px;
  font-family: Pretendard;
  font-weight: 600;
  line-height: 17.94px;
  word-wrap: break-word;
}
.유튜브범위 {
  width: 143px;
  height: 98px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.유튜브로고 {
  width: 65px;
  height: 50px;
  left: 39px;
  top: 10px;
  position: absolute;
}
.인스타범위 {
  width: 143px;
  height: 98px;
  left: 157px;
  top: 0px;
  position: absolute;
}
.인스타로고 {
  width: 33px;
  height: 32px;
  left: 53px;
  top: 22px;
  position: absolute;
}
.틱톡범위 {
  width: 143px;
  height: 98px;
  left: 1px;
  top: 108px;
  position: absolute;
}
.틱톡로고 {
  width: 31px;
  height: 35px;
  left: 57px;
  top: 18px;
  position: absolute;
}
.selected {
  border: 2px #6badd5 solid;
}
